.View--notification {
    $spacing-x: spacing(1.5);
    $spacing-y: spacing(2);

    .Container--fill {
        display: flex;
        flex-direction: column;

        .pa-Notification,
        .pa-PartupUpdateContent,
        .View--notification__comments,
        .View--notification__commentinput {
            flex: 0 0 auto;
        }

        .View--notification__comments {
            flex: 1 1 auto;
            overflow-y: auto;
            -webkit-overflow-scrolling: touch;
        }
    }

    .pa-Notification {
        margin: $spacing-y $spacing-x;
    }

    .pa-PartupUpdateContent {
        border-bottom: 2px solid $color-border;

        .pa-Content {
            margin-top: 0;
            margin-bottom: $spacing-y - 7px;
        }
    }

    .View--notification__comments {
        padding: $spacing-y $spacing-x;
    }

    .View--notification__commentinput {
        .pa-MessageForm {
            margin-top: 0;
            margin-bottom: $spacing-x;
            margin-left: $spacing-x;
            margin-right: $spacing-x;
        }
    }
}
