.View--partups {
    .pa-ButtonGroup {
        margin: 15px;
    }

    .View--partups__tabs {
        border-bottom: 1px solid $color-border;
    }

    .pa-List {
        padding: 20px 15px 15px 15px;

        .pa-ListItem {
            margin-bottom: 20px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
