.View--chat {

    .pa-Content {
        margin: 0px;
    }

    .pa-Input {
        margin: 15px;
    }

    .pa-List {
        padding: 0 0 0 0;
        border-top: 1px solid $color-border;

        .pa-ListItem {
            border-bottom: 1px solid $color-border;
        }
    }
}
