.pa-ChatDaySeparator {
    color: $color-brand;
    text-align: center;
    padding: 10px 0;
    margin: 40px auto 30px auto;
    font-weight: 600;
    width: 50%;
    border-bottom: 1px solid $color-border;
}
