.pa-Avatar {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: $color-avatar-placeholder;
    border-radius: 50%;
    @include ratio(1/1);

    &--notification {
        background-image: url('images/system-avatar.png');
    }
}
