.pa-ButtonGroup {
    border: 1px solid $color-border;
    border-radius: 4px;
    position: relative;
    background-color: $color-tabs-navigation-bar;

    &:after {
        content: '';
        width: 50%;
        height: 34px;
        background-color: #fff;
        color: $color-text;
        z-index: 1;
        position: absolute;
        top: 1px;
        left: 1px;
    }
}
