.pa-ChatFooter {
    background: #fff;

    .pa-Input {
        display: inline-block;
        width: 84%;
        //display: block;
        //width: 100%;
    }

    .pa-Button {
        display: inline-block;
        float: right;
        padding: 11px 4px 0 0;
        background-color: transparent;
        border: none;
        color: $color-brand-secondary;
        font-size: 14px;
    }

    @include clearfix;
}
