.pa-Flex {
    display: flex;
    flex-direction: column;
    height: 100%;

    &__Shrink {
        flex: 0 0 auto;
    }

    &__Stretch {
        flex: 1 1 auto;

        &--scroll {
            overflow-y: auto;
            -webkit-overflow-scrolling: touch;

            .pa-Spinner--infinite-scroll {
                position: relative !important;
                margin-top: 20px;
                padding-bottom: 30px;
                margin-right: auto;
                margin-left: auto;
            }
        }
    }

    &__Shrink,
    &__Stretch {
        > * {
            min-height: 100%;
        }
    }
}
