.pa-Flex {
    display: flex;
    flex-direction: column;
    height: 100%;

    &__Shrink {
        flex: 0 0 auto;
    }

    &__Stretch {
        flex: 1 1 auto;

        &--scroll {
            position: relative;
            overflow-y: auto;
            -webkit-overflow-scrolling: touch;

            // Trigger elastic experience,
            // even if there's no overflowing content
            &::before,
            &::after {
                content: '';
                position: absolute;
                width: 1px;
                height: 1px;
            }
            &::before {
                bottom: -1px;
            }
            &::after {
                top: -1px;
            }

            .pa-Spinner--infinite-scroll {
                position: relative !important;
                margin-top: 20px;
                padding-bottom: 30px;
                margin-right: auto;
                margin-left: auto;
            }

            &--reverse,
            &--reverse > div {
                transform: rotate(180deg) scale(-1, 1);
            }

            &--reverse > div {
                padding-top: 1px;
                margin-top: -1px;
            }
        }
    }
}
