.pa-Input {
    position: relative;

    input,
    textarea {
        width: 100%;
        background: $color-input-background;
        border: 2px solid $color-input-border;
        border-radius: 4px;
        font-family: $font-primary;
        font-size: 16px;
        color: $color-text-input;
        height: 44px;
        padding: 12px;
        outline: none;
        -webkit-appearance: none;
        resize: none;

        ::placeholder {
            color: $color-text-input-placeholder;
        }

        &:focus {
            border-color: darken($color-input-border, 5%);
        }
    }

    &--hasicon {
        input,
        textarea {
            padding-left: 43px;
        }

        > .pa-Svg {
            position: absolute;
            top: 11px;
            left: 15px;
            font-size: 20px;
            color: $color-text-meta;
        }
    }

    &--hasclearbutton {
        input,
        textarea {
            padding-right: 46px;
        }

        .pa-Button {
            position: absolute;
            top: 0;
            right: 0;
            font-size: 10px;
            padding: 13px 16px 9px;
            fill: darken($color-input-border, 15%);
        }
    }
}
