.pa-List {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;

    // List CSS-trick mixin to add spacing between list items
    // while still being able to use percentages
    // for responsive lists
    @mixin addSpacing($spacing: 0) {
        margin: - ($spacing / 2);

        > li {
            padding: ($spacing / 2);
        }
    }

    &--inline {
        > li {
            display: inline-block;
        }
    }

    &--buttons {
        @include addSpacing(spacing(1));
    }

    &--notifications {
        > li {
            border-bottom: 1px solid $color-border;

            a {
                padding: spacing(2) spacing(1.5);

                &.pa-Notification {
                    min-height: 88px;
                }
            }

            &:last-child {
                border-bottom: none;
            }
        }
    }

    &--partup-update-comments {
        @include addSpacing(spacing(2));
    }

    &--stats {
        > li {
            margin-right: 20px;

            &:last-child {
                margin-right: 0;
            }
        }
    }
}
