.pa-MessageForm {
    display: table;

    .pa-Input,
    .pa-Button {
        display: table-cell;
        vertical-align: top;
    }

    .pa-Input {
        width: 100%;
    }

    .pa-Button {
        margin-left: spacing(1.5);
    }

    &:invalid {
        .pa-Button {
            opacity: .5;
            pointer-events: none;
        }
    }
}
