.pa-Notification {
    display: block;
    $content-padding-top: spacing(1);
    $avatar-size: 48px;
    min-height: $avatar-size;

    .pa-Avatar {
        width: $avatar-size;
    }

    .pa-Notification__content {
        position: relative;

        // Avatar
        > div:first-child {
            position: absolute;
            top: 0;
            left: 0;
        }

        // Content
        > div:last-child {
            padding-top: $content-padding-top - 5px; // 5px correction due to text
            padding-left: $avatar-size + 10px;

            .pa-Heading {
                margin-bottom: 1px;
            }
        }
    }

    &--new {

        // Orange dot
        .pa-Notification__content {
            &::after {
                content: '';
                display: block;
                position: absolute;
                top: $content-padding-top;
                right: 0;
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background-color: $color-brand-secondary;
            }
        }
    }

    // Opacity
    &--clicked {
        opacity: .5;
    }

    // Detail
    &--detail {
        .pa-Heading {
            color: $color-brand-secondary;
        }
    }
}
