.pa-PartupUpdateComment {
    display: block;
    position: relative;
    $avatar-width: 30px;
    margin-top: -2px;
    margin-bottom: -4px;
    min-height: $avatar-width;
    word-break: break-word;

    .pa-Avatar {
        width: $avatar-width;
    }

    // Avatar
    > div:first-child {
        position: absolute;
        top: 2px;
        left: 0;
    }

    // Content
    > div:last-child {
        padding-left: $avatar-width + spacing(1);
    }
}
