.pa-PartupUpdateContent {
    position: relative;

    &::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 20px;
        background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #fff 75%, #fff 100%);
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #fff 90%, #fff 100%);
        z-index: 1;
    }

    .pa-Heading {
        font-size: 18px;
    }

    .pa-Content {
        max-height: 150px;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;

        a {
            color: $color-brand;
        }

        .pa-Notification {
            margin-top: 0;
            margin-bottom: spacing(2) - 3px;

            .pa-Heading {
                font-size: 14px;
            }
        }
    }
}
