.pa-UserCard {
    display: block;
    position: relative;
    border: 2px solid $color-border;
    border-radius: 4px;

    &__UserDetails {
        padding: 17px 21px;

        .pa-Avatar {
            position: absolute;
            top: 20px;
            left: 20px;
            width: 80px;
            height: 80px;
        }

        .pa-UserInfo {
            margin-left: 100px;
            margin-bottom: 8px;

            .pa-Heading {
                font-size: 17px;
                margin-bottom: 2px;
            }
        }

        .pa-List {
            margin-left: 100px;
        }
    }

    &__LogoutButton {
        width: 100%;
        padding-top: 20px;
        padding: 20px 21px;
        border-top: 1px solid $color-border;

        button {
            width: 100%;
            text-align: center;
        }
    }
}
