.Tabs-Navigator {
    background-color: $color-tabs-navigation-bar;
    height: 54px;

    // Disable border-top
    &:after {
        display: none;
    }

    .Tabs-Tab {
        color: $color-tabs-navigation-bar-text;
        fill: $color-tabs-navigation-bar-text;

        .pa-Svg {
            font-size: 16px;

            .device--iOS & {
                margin-bottom: 3px;
            }
        }

        .Tabs-Label {
            font-family: $font-primary;
            font-size: 12px;
        }

        .Tabs-Alert {
            position: absolute;
            top: 6px;
            left: 50%;
            margin-left: 10px;
            color: $color-brand-secondary;
            font-weight: bold;
            font-size: 12px;
        }

        &.is-selected {
            color: $color-tabs-navigation-bar-text-active;
            fill: $color-tabs-navigation-bar-text-active;
            pointer-events: none;
        }
    }

}

