.View--login {
    background-color: $color-cover-background;
    color: $color-text-on-cover;

    > .Container {
        padding-top: 60px;
        padding-bottom: spacing(2);
        padding-left: spacing(4);
        padding-right: spacing(4);
    }

    .pa-Logo {
        margin-left: auto;
        margin-right: auto;
    }

    .pa-LoginChoice {
        margin-top: 50px;
        max-width: 300px;
        margin-left: auto;
        margin-right: auto;
    }

    .pa-SignupLink {
        margin-top: spacing(4);
        margin-left: spacing(2);
        margin-right: spacing(2);
    }

    @media (min-height: 620px) {
        > .Container {
            padding-top: 140px;
        }

        .pa-LoginChoice {
            margin-top: 90px;
        }

        .pa-SignupLink {
            margin-top: spacing(8);
        }
    }
}
