// Brands
$color-brand: #57c0c9;
$color-facebook: #39579a;
$color-linkedin: #007ab9;

// Text
$color-text: #292929;
$color-text-on-brand: #fff;
$color-text-on-button: #fff;
$color-text-on-button-login: #fff;

// Buttons
$color-button: #ffa725;
$color-button-login: #38a6af;
